<div style="width:50%;  height:50%;">
	<canvas id="myChart" width="700" height="250" #mychart  (click)="openDialog($event)"></canvas>
  
</div>


<div class="form-group">Chọn năm</div>
<mat-form-field>
  <input matInput [matDatepicker]="dp" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event,dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

<button type="submit" class="btn btn" ></button>